---
- targets:
{% for item in prometheus_server_hostnames %}
  - {{ item if consul_bin.stat.exists else hostvars[item]['ansible_host'] if hostvars[item]['ansible_host'] is defined else 'localhost' }}
{% endfor %}
